body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

header{
    position: sticky;
    top: 0;
}

header, footer{
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a, footer a {
    text-decoration: none;
    color: black;
}

header .login-btn, footer .links {
    margin-right: 2%;
}

footer .contact{
    margin-left: 2%;
}

footer{
    padding: 1% 0;
}

footer .copy-right{
    font-size: 10px;
    padding-bottom: 0;
}

.container-fluid{
    padding: 0;
}

.footer-images {
    width: 22px;
    height: 20px;
    border-radius: 50%;
}

.header-logo{
    height: 60px;
    width: 60px;
    margin-left:1%;
}

.hotel-image{
    width: 500px;
    height: 500px;
}

a{
    color: black !important;
    text-decoration: none;
}