#hotel-details{
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.hotel-image {
    max-height: 350px;
}

.hotel-image img{
    margin: 2%;
    max-height: 350px;
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
}
.carousel-control-next span,.carousel-control-prev span {
    color: rosybrown;
    font-size: 55px;
}

.carousel-item {
    transition: none;
}

.hotel-form-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    border: 1px solid black;
    max-height: 400px;
}

.hotel-form-container #hotel-image {
    text-align: center;
    width: 70%;
    height: 400px;
}

.hotel-form-card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hotel-form-container #details-form {
    border-left: 1px solid black;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 30%;
    padding: 0 2%;
}
 
.hotel-form-container #details-form input{
    width: 60%;
}