.content-images {
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;
}

#main{
    background-color: #e0e0e0;
}

#main-search{
    height: 380px;
    background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg') no-repeat center;
}

#main-images{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}