.hotel-images{
    width: 250px;
    height: 200px;
}

.hotel-card{
    margin: 2% 5%;
    background-color: rgb(132,136,139);
    width: 40%;
}

#list-view-head a{
    font-weight: bold;
}

#map-view{
    display: none;
}