.hotel-card{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    margin-bottom: 5rem;
}

.hotel-image{
    max-height: 300px;
    max-width: 270px;
}

.hotel-card div {
    padding: 4%;
    align-items: center;
}

#customer-card{
    display: flex;
    flex-direction: row;
    margin: 2%;
    border: 1px black solid;
    border-radius: 5px;
    justify-content: space-around;
    background-color: rosybrown;
    align-items: center;
    border-radius: 5px;
}

#customer-card b {
    font-family: cursive;
}